<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0d6efd">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Recognition</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="modal fade" id="addNickNameModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addPlantModalLabel">Hello Who are you?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="handleSubmitNickName()"></button>
        </div>
        <div class="modal-body">
          <form class="row">
            <div class="mb-1 col-12">
              <label for="nickname" class="form-label">Nickname</label>
              <input type="text" class="form-control" id="nickname" placeholder="please enter your nickname">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            onclick="handleSubmitNickName()">Close</button>
          <button type="button" class="btn btn-primary" onclick="handleSubmitNickName()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="add btn" data-bs-toggle="modal" data-bs-target="#addPlantModal">
    <i class="bi bi-plus-circle-fill"></i>
  </button>
  <div class="modal fade" id="addPlantModal" tabindex="-1" aria-labelledby="addPlantModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addPlantModalLabel">Add Plant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" onsubmit="handleAddPlant(event)">
            <div class="form-floating mb-1 col-md-6">
              <input type="text" class="form-control" id="name" placeholder="please enter plant name" name="name">
              <label for="name" class="form-label">Name</label>
            </div>
            <div class="form-floating mb-1 col-md-12">
              <input type="textarea" class="form-control" id="description" required
                placeholder="please enter plant description" name="description">
              <label for="description" class="form-label">Description</label>
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label" placeholder="please upload plant photo">Photo</label>
              <input type="file" class="form-control" id="photo" required name="photo">
            </div>
            <h5>Size</h5>
            <div class="form-floating mb-1 col-md-6">
              <input type="number" class="form-control" id="height" required placeholder="please enter plant height"
                name="height">
              <label for="height" class="form-label">Height</label>
            </div>
            <div class="form-floating mb-1 col-md-6">
              <input type="textarea" class="form-control" id="spread" required placeholder="please enter plant spread"
                name="spread">
              <label for="spread" class="form-label">Spread</label>
            </div>
            <h5>Characteristics</h5>
            <div class="form-floating mb-1 col-md-6">
              <select class="form-select" id="hasFlowers" required name="hasFlowers">
                <option selected disabled value="">please select have flowers?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <label for="hasFlowers">Flowers</label>
            </div>
            <div class="form-floating mb-1 col-md-6">
              <select class="form-select" id="hasLeaves" required name="hasLeaves">
                <option selected disabled value="">please select have leaves?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <label for="hasLeaves">Leaves</label>
            </div>
            <div class="form-floating mb-1 col-md-6">
              <select class="form-select" id="hasFruits" required name="hasFruits">
                <option selected disabled value="">please select have fruits?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <label for="hasLeaves">Fruits</label>
            </div>
            <div class="form-floating mb-1 col-md-6">
              <select class="form-select" id="hasSeeds" required name="hasSeeds">
                <option selected disabled value="">please select have seeds?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <label for="hasSeeds">Seeds</label>
            </div>
            <div class="col-md-6">
              <label for="hasSeeds">Color</label>
              <input type="color" class="form-control form-control-color" id="flowerColor" value="#563d7c"
                title="please choose plant color" required name="flowerColor">
            </div>
            <div class="form-floating col-md-6">
              <select class="form-select" id="sunExposure" required name="sunExposure">
                <option selected disabled value="">please select sun exposure?</option>
                <option value="full sun">Full Sun</option>
                <option value="partial shade">Partial Shade</option>
                <option value="full shade">Full Shade</option>
              </select>
              <label for="sunExposure">Sun Exposure</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="navbar-toggler-icon" src="/images/logo.png" />
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dbpedia">DBPedia</a>
          </li>
        </ul>
        <div class="query row align-items-center">
          <div class="col-md-8">
            <div class="form-group">
              <select id="type" class="form-control">
                <option selected disabled>Select Have Flower Type</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-sm" onclick="handleSearch()">Search</button>
          </div>
        </div>
      </div>
      <span class="mx-1 profile">UserName</span>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row g-2" id="plants"></div>
  </div>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/javascripts/utils.js"></script>
  <script src="/javascripts/idb-utility.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>